<div [style.background-color]="GetColorString(dictator.favoriteColorsRank[0])" [style.border-color]="GetColorString(dictator.favoriteColorsRank[1])" style="margin:10px 5px; padding: 4px; border: 3px solid;" [style.color]="GetColorString(dictator.favoriteColorsRank[2])">
  <h3 [style.border-color]="GetColorString(dictator.favoriteColorsRank[1])" style="border-bottom: 2px solid;">{{dictator.name}}</h3>
  <p>{{dictator.description}}</p>
  <div class="row">
    <div class="col-8">

      <img style="max-width: 100%;" src="../../../assets/images/{{dictator.imageFile}}">
    </div>
    <ul class="col-4" style="text-align: left;">
      <label style="font-weight: bold; border-bottom: black 1px solid;">Hobbies:</label>
      <li *ngFor="let hobby of dictator.hobbies">{{hobby}}</li>
    </ul>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-1"></div>
    <button class="col-3 btn btn-success" (click)="Play()">Listen to Antheme</button>
    <button class="col-3 btn btn-primary" style="margin-left: 15px;" (click)="Stop()">Stop Antheme</button>
    <button class="col-3 btn-danger btn" style="margin-left:15px" (click)="Delete()" >Delete Dictator</button>
  </div>
</div>
